* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bitter", serif;
}
.bitter{
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #2b2b2b 0%, rgba(29, 79, 50, 0.8)100%);

}